services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backstage-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://backend-app:5000/api/
      NEXT_PUBLIC_IMAGE: http://backend-app:5000
      NEXTAUTH_SECRET: kmm-EOMKRZ9OdkEs5B3MYnvm7A==
      NEXTAUTH_URL: https://ppgbdl.com
      NODE_ENV: production
    networks:
      - backend-network

networks:
  backend-network:
    external: true
    name: backend-kmm-new_backend-network
